@use '../styles/variables' as *;

.component-lineImage {
    width: 100%;
    display: flex;
    gap: .5em;
    position: relative;

    &.boxMenorA,
    &.boxMenorB {
        width: 85%;
        margin: 0 auto;
        padding: 1.5em 0 0;
    }
    &.boxMenorB {
        padding: 0;
    }

    @media (max-width: $tablet-size) {
        overflow: auto;
        &.boxMenorB {
            width: 100%;
            padding: 0 .5em;
        }
        &.lineImageB {
            flex-wrap: wrap;
        }
    }

    a {
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        position: relative;

        @media (max-width: $tablet-size) {
            min-width: 38%;
        }

        @media (max-width: $mobile-size) {
            min-width: 65%;
        }

        picture {
            width: 100%;
        }

        img {
            transition-duration: .3s;
            display: block;
            width: 100%;
        }

        &.tipoA {
            display: flex;
            justify-content: center;
            &:hover {
                .btnDefault {
                    background-color: #5F3F32;
                    border-color: #ffffff;
                    p {
                        color: #ffffff;
                    }
                }
            }

            .btnDefault {
                top: 87%;
                left: 72.5vw;
                background-color: transparent;
                border-color: #5F3F32;
                p {
                    color: #5F3F32;
                }

                @media (min-width: $full-hd) {
                    top: 87%;
                    left: 74.6%;
                }

                @media (max-width: $tablet-size) {
                    top: 88%;
                    right: 2rem;
                    left: initial;
                    display: none;
                }
            }
        }

        &.tipoB {
            border-radius: 2em;
            transition-duration: 1s;
            display: flex;
            justify-content: center;
            align-items: end;

            &:hover {
                filter: grayscale(0);
            }

            @media (max-width: $tablet-size) {
                border-radius: 2em;
                min-width: 100%;
            }

            .boxText {
                width: 100%;
                position: absolute;
                // padding: 2vw 2vw 5vw;
                padding: 2vw;
                background-image: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,0));
                display: flex;
                flex-direction: column;
                gap: .5vw;
                @media (min-width: $full-hd) {
                    gap: 5px;
                    padding: 5%;
                }
                @media (max-width: $tablet-size) {
                    padding: 3vw 5vw;
                }
                .text {
                    color: #fff;
                    font-size: 1.6vw;
                    font-weight: 100;
                    text-align: left;
                    line-height: 1;
                    b {
                        font-weight: 400;
                    }
                    &.bold {
                        font-weight: 700;
                    }
                    &.light {
                        font-weight: 100;
                    }
    
                    @media (min-width: $full-hd) {
                        font-size: 30px;
                        right: 5%;
                        bottom: 17%;
                    }
        
                    @media (max-width: $notebook-size) {
                        bottom: 6.4vw;
                    }
        
                    @media (max-width: $tablet-size) {
                        bottom: 10vw;
                        right: 3vw;
                    }
                }
            }

            .btnDefault {
                right: 2vw;
                bottom: 2vw;

                @media (min-width: $full-hd) {
                    right: 5%;
                    bottom: 5%;
                }

                @media (max-width: $tablet-size) {
                    right: 3vw;
                    bottom: 3vw;
    
                    p {
                        padding: 0.5vw 2.2vw;
                        font-size: 2.2vw;
                    }
                }
            }
    
            &:hover {
                .boxText {
                    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
                }
                .btnDefault {
                    background-color: #fff;
                    p {
                        color: #000;
                    }
                }
            }
        }

        &.tipoC {
            text-decoration: none;
            border-radius: 2em;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $notebook-size) {
                border-radius: 1.5em;
            }
            @media (max-width: $tablet-size) {
                border-radius: 3vw 3vw;
            }

            img {
                transform: scale(1.01);
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                transition-duration: .3s;
                box-shadow: inset 0vw 0vw 3vw rgba(0,0,0,0);
            }
            &:hover {
                &::after {
                    box-shadow: inset 0vw 0vw 3vw rgba(0,0,0,.5);
                }
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.component-lineImage+.component-lineImage {
    margin: .5em 0 0;
}