@use "../styles/variables" as *;

.header.header-full.header-fixed {
  position: relative !important;
}
.component-headerLp {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: .5em 1em 0;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 7em;
  img {
    height: 100%;
  }
}
